@keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
        0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
      transform: translateX(0) translateY(0);
    }
    to {
      box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
        3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
        5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
        7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
      transform: translateX(-8px) translateY(8px);
    }
  }
  .download-1-icon {
    position: absolute;
    top: 68px;
    left: 0;
    width: 1515px;
    height: 712px;
    object-fit: cover;
  }
  .purchase-child,
  .purchase-inner,
  .purchase-item {
    position: absolute;
    top: 651px;
    left: 331px;
    border-radius: 50%;
    width: 291px;
    height: 240px;
    object-fit: cover;
  }
  .purchase-inner,
  .purchase-item {
    top: 0;
    left: 837px;
    width: 362px;
    height: 322px;
  }
  .purchase-inner {
    top: 148px;
    left: 521px;
    border-radius: 15px;
    width: 473px;
    height: 567px;
    mix-blend-mode: color-burn;
  }
  .rectangle-nav {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-12xs);
    background-color: var(--color-black);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 1505px;
    height: 68px;
  }
  .deltax-logo-2 {
    position: absolute;
    top: 12px;
    left: 46px;
    width: 124px;
    height: 44px;
    object-fit: cover;
  }
  .rectangle-button {
    background-color: var(--color-white);
    top: 15px;
    left: 1330px;
    border-radius: var(--br-41xl);
    width: 100px;
    height: 39px;
  }
  .home,
  .purchase-child1,
  .purchase-child2,
  .rectangle-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    position: absolute;
  }
  .home {
    background-color: transparent;
    top: 22px;
    left: 1324px;
    font-size: var(--font-size-base);
    letter-spacing: 0.2em;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    width: 112px;
    height: 32px;
  }
  .purchase-child1,
  .purchase-child2 {
    background-color: var(--color-gainsboro);
    top: 629px;
    left: 837px;
    border-radius: var(--br-31xl);
    width: 115px;
    height: 44px;
    mix-blend-mode: normal;
  }
  .purchase-child1:hover,
  .purchase-child2:hover {
    animation: 1s ease-in 0s infinite normal none shadow-pop-tr;
    opacity: 1;
  }
  .purchase-child2 {
    background-color: var(--color-white);
    top: 622px;
    left: 544px;
    width: 213px;
    height: 51px;
    mix-blend-mode: soft-light;
  }
  .purchase-child2:hover {
    cursor: pointer;
  }
  .whatsapp-image-2023-09-26-at-0 {
    position: absolute;
    top: 178px;
    left: 575px;
    border-radius: var(--br-31xl);
    width: 364px;
    height: 295px;
    object-fit: cover;
  }
  .icoutline-copyright-icon {
    position: absolute;
    top: 440px;
    left: 893px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    mix-blend-mode: darken;
  }
  .add-to-cart {
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 637px;
    left: 552px;
    font-size: var(--font-size-lg);
    letter-spacing: 0.3em;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: center;
    width: 196px;
  }
  .add-to-cart,
  .add-to-cart:hover {
    cursor: pointer;
  }
  .add-to-cart,
  .buy,
  .eye-blink-detector,
  .price-xxxx {
    position: absolute;
    display: inline-block;
    height: 29px;
  }
  .buy {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 637px;
    left: 848px;
    font-size: var(--font-size-lg);
    letter-spacing: 0.3em;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
    width: 93px;
  }
  .eye-blink-detector,
  .price-xxxx {
    margin: 0;
    font-weight: 600;
    font-family: inherit;
  }
  .price-xxxx {
    top: 558px;
    left: 635px;
    font-size: inherit;
    letter-spacing: 0.6em;
    width: 246px;
  }
  .eye-blink-detector {
    top: 501px;
    left: 576px;
    font-size: var(--font-size-3xl);
    letter-spacing: 0.4em;
    width: 364px;
  }
  .line-icon,
  .purchase-child3 {
    position: absolute;
    top: 541px;
    left: 521px;
    width: 473px;
    height: 3.03px;
  }
  .purchase-child3 {
    top: 598px;
    height: 2px;
  }
  .purchase {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 780px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  